// colors
$black: #000;
$white: #fff;

$main-text-color: #1E212C;
$main-bg-color: #fff;

$main-accent-color: #FF5A30;
$main-accent-color-hover: #FC3300;
$grey-800: #424551;
$grey-900: #1E212C;

// fonts
$main-font-family: "Ubuntu", sans-serif;
$main-font-size: 16px;

// container
$container-max-width-xs: 100%;
$container-max-width-sm: 540px;
$container-max-width-md: 720px;
$container-max-width-lg: 960px;
$container-max-width-xl: 1140px;
$container-max-width-xxl: 1260px;

$grid-gap-side: 15px;

// breakpoints
$bp-xs: 413px;
$bp-sm: 575px;
$bp-md: 767px;
$bp-lg: 991px;
$bp-xl: 1201px;
$bp-xxl: 1440px;
$bp-xxxl: 1920px;