<div class="@@class reviews-slider swiper slider">
  <div class="swiper-wrapper">
    <div class="reviews-slider__slide swiper-slide">
      <picture class="reviews-slider__avatar">
        <source type="image/webp" srcset="assets/img/decor/profile.webp">
        <img src="assets/img/decor/profile.jpg" alt="Shawn Edwards">
      </picture>
      <p class="reviews-slider__text">Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum consequat minim  laboris cillum laboris voluptate minim proident exercitation ullamco. </p>
      <div class="reviews-slider__bottom">
        <p class="reviews-slider__author text-bold">Shawn Edwards</p>
        <p class="reviews-slider__author-position text-small">Position, Company name</p>
      </div>
    </div>
    <div class="reviews-slider__slide swiper-slide">
      <picture class="reviews-slider__avatar">
        <source type="image/webp" srcset="assets/img/decor/profile.webp">
        <img src="assets/img/decor/profile.jpg" alt="Shawn Edwards">
      </picture>
      <p class="reviews-slider__text">Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum consequat minim  laboris cillum laboris voluptate minim proident exercitation ullamco. </p>
      <div class="reviews-slider__bottom">
        <p class="reviews-slider__author text-bold">Shawn Edwards</p>
        <p class="reviews-slider__author-position text-small">Position, Company name</p>
      </div>
    </div>
    <div class="reviews-slider__slide swiper-slide">
      <picture class="reviews-slider__avatar">
        <source type="image/webp" srcset="assets/img/decor/profile.webp">
        <img src="assets/img/decor/profile.jpg" alt="Shawn Edwards">
      </picture>
      <p class="reviews-slider__text">Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum consequat minim  laboris cillum laboris voluptate minim proident exercitation ullamco. </p>
      <div class="reviews-slider__bottom">
        <p class="reviews-slider__author text-bold">Shawn Edwards</p>
        <p class="reviews-slider__author-position text-small">Position, Company name</p>
      </div>
    </div>
  </div>
  <div class="reviews-slider__buttons">
    <div class="reviews-slider__button-prev slider__button-prev swiper-button-prev">
      <svg class="icon-svg">
        <use xlink:href="assets/img/svg-sprite/sprite.svg#left"></use>
      </svg>
    </div>
    <div class="reviews-slider__button-next slider__button-next swiper-button-next">
      <svg class="icon-svg">
        <use xlink:href="assets/img/svg-sprite/sprite.svg#right"></use>
      </svg>
    </div>
  </div>  
</div>