<section class="hero">
  <div class="hero__slider slider swiper">
    <div class="swiper-wrapper">

      <div class="hero__slide swiper-slide">
        <div class="container"> 
          <div class="hero__content">
            <h1 class="hero__title">CREATE<span>X</span> CONSTRUCTION</h1>
            <p class="hero__text">Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed. Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.</p>
            <div class="hero__bottom">
              <button class="hero__button button button--lg button--white-border">Learn more about us</button>
              <a class="hero__button button button--lg" href="#" data-modal="modal-SV">SUBMIT REQUEST</a>
            </div>
          </div>
          <picture class="hero__img">
            <source type="image/webp" srcset="assets/img/hero/hero-1.webp">
            <img src="assets/img/hero/hero-1.jpg" alt="">
          </picture>
        </div>        
      </div>

      <div class="hero__slide swiper-slide">
        <div class="container"> 
          <div class="hero__content">
            <h2 class="h1 hero__title">Browse our selected projects</h2>
            <p class="hero__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis voluptate iure exercitationem, eligendi explicabo dolores laborum id fuga! Laboriosam repellat quaerat in cupiditate error consequuntur provident assumenda magnam! Blanditiis, nisi!</p>
            <div class="hero__bottom">
              <a class="hero__button button button--white-border button--lg" href="#" data-modal="modal-1">SUBMIT REQUEST</a>
            </div>
          </div>
          <picture class="hero__img">
            <source type="image/webp" srcset="assets/img/hero/hero-2.webp">
            <img src="assets/img/hero/hero-2.jpg" alt="">
          </picture>
        </div>        
      </div>

      <div class="hero__slide swiper-slide">
        <div class="container"> 
          <div class="hero__content">
            <h2 class="h1 hero__title">Lorem ipsum dolor</h2>
            <p class="hero__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit ab sunt dignissimos, voluptatum tempora doloribus, et debitis laborum, hic reprehenderit fugiat quos ea molestiae at deleniti soluta pariatur ullam adipisci?</p>
            <div class="hero__bottom">
              <a class="hero__button button button--lg" href="#">Learn more about us</a>
            </div>
          </div>
          <picture class="hero__img">
            <source type="image/webp" srcset="assets/img/hero/hero-3.webp">
            <img src="assets/img/hero/hero-3.jpg" alt="">
          </picture>
        </div>        
      </div>
      
      <div class="hero__slide swiper-slide">
        <div class="container"> 
          <div class="hero__content">
            <h1 class="hero__title">CREATE<span>X</span> CONSTRUCTION</h1>
            <p class="hero__text">Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed. Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.</p>
            <div class="hero__bottom">
              <button class="hero__button button button--lg button--white-border">Learn more about us</button>
              <a class="hero__button button button--lg" href="#" data-modal="modal-1">SUBMIT REQUEST</a>
            </div>
          </div>
          <picture class="hero__img">
            <source type="image/webp" srcset="assets/img/hero/hero-1.webp">
            <img src="assets/img/hero/hero-1.jpg" alt="">
          </picture>
        </div>        
      </div>
    </div>
    <div class="container hero__container-pagination"> 
      <div class="slider__pagination hero__pagination swiper-pagination"></div>
    </div>
    <div class="slider__button-prev hero__button-prev swiper-button-prev"></div>
    <div class="slider__button-next hero__button-next swiper-button-next"></div>
  </div>
</section>