<div class="main-news">    
    @@include('../../components/news-card/index.html', {
        'title': 'How to Build Climate Change-Resilient Infrastructure',
        'category': 'Industry News',
        'date': 'June 24, 2020',
        'comments': '4 comments',
        'desc': 'Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...',
        'img': 'assets/img/news/news-1'
      })
    @@include('../../components/news-card/index.html', {
        'title': 'How Construction Can Help Itself',
        'category': 'Innovation',
        'date': 'June 12, 2020',
        'comments': 'No comments',
        'desc': '',
        'img': 'assets/img/news/news-2'
      })
    @@include('../../components/news-card/index.html', {
        'title': 'Types of Flooring Materials',
        'category': 'Company News',
        'date': 'December 1, 2019',
        'comments': 'No comments',
        'desc': '',
        'img': 'assets/img/news/news-3'
      })
</div>