<article class="news-card">
  <div class="news-card__content">
    <a class="news-card__link" href="#">
      <h5>@@title</h5>
    </a>
    <header class="news-card__info">
        <span>@@category</span>
        <span>@@date</span>
        <span>
            <svg class="icon-svg">
                <use xlink:href="assets/img/svg-sprite/sprite.svg#chat"></use>
            </svg>
            @@comments          
        </span>
    </header>
    <p class="news-card__desc ">@@desc</p>
  </div>
  <picture class="news-card__img">
    <source type="image/webp" srcset="@@img.webp">
    <img src="@@img.jpg" alt="@@title">
  </picture>
</article>