<div class="simple-slider swiper slider jsSliderMobile">
  <div class="swiper-wrapper">
    <div class="simple-slider__slide swiper-slide">
      <picture>
        <source type="image/webp" srcset="assets/img/clients/client-1.webp">
        <img src="assets/img/clients/client-1.jpg" alt="Client 1">
      </picture>
    </div>
    <div class="simple-slider__slide swiper-slide">
      <picture>
        <source type="image/webp" srcset="assets/img/clients/client-2.webp">
        <img src="assets/img/clients/client-2.jpg" alt="Client 2">
      </picture>
    </div>
    <div class="simple-slider__slide swiper-slide">
      <picture>
        <source type="image/webp" srcset="assets/img/clients/client-3.webp">
        <img src="assets/img/clients/client-3.jpg" alt="Client 3">
      </picture>
    </div>
    <div class="simple-slider__slide swiper-slide">
      <picture>
        <source type="image/webp" srcset="assets/img/clients/client-4.webp">
        <img src="assets/img/clients/client-4.jpg" alt="Client 4">
      </picture>
    </div>
    <div class="simple-slider__slide swiper-slide">
      <picture>
        <source type="image/webp" srcset="assets/img/clients/client-5.webp">
        <img src="assets/img/clients/client-5.jpg" alt="Client 5">
      </picture>
    </div>
    <div class="simple-slider__slide swiper-slide">
      <picture>
        <source type="image/webp" srcset="assets/img/clients/client-6.webp">
        <img src="assets/img/clients/client-6.jpg" alt="Client 6">
      </picture>
    </div>
  </div>
  <div class="simple-slider__pagination swiper-pagination slider__pagination"></div>
</div>