<div class="digits">
  <div class="digits__item digits__item--info-1" data-progress="89" data-value="98">    
    <div class="digits__circle">
      <svg class="digits__progress">
        <circle></circle>
      </svg>
      <div class="digits__value"><span>98</span>%</div>
    </div>
    <p class="digits__text text-small">Totally satisfied clients</p>
  </div>
  <div class="digits__item digits__item--info-2" data-progress="75" data-value="20">    
    <div class="digits__circle">
      <svg class="digits__progress">
        <circle></circle>
      </svg>
      <div class="digits__value"><span>20</span></div>
    </div>
    <p class="digits__text text-small">Years of experience</p>
  </div>
  <div class="digits__item digits__item--info-3" data-progress="82" data-value="9452">    
    <div class="digits__circle">
      <svg class="digits__progress">
        <circle></circle>
      </svg>
      <div class="digits__value"><span>9452</span></div>
    </div>
    <p class="digits__text text-small">Working hours spent</p>
  </div>
  <div class="digits__item digits__item--info-4" data-progress="100" data-value="100">    
    <div class="digits__circle">
      <svg class="digits__progress">
        <circle></circle>
      </svg>
      <div class="digits__value"><span>100</span>%</div>
    </div>
    <p class="digits__text text-small">Succeeded projects</p>
  </div>
</div>