@import 'src/styles/global/vars';

.slider {

  &__button-prev, &__button-next {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba($color: #fff, $alpha: .5);
    color: $grey-800;
    margin-top: 0;
    transform: translateY(-50%);
    transition: all .2s ease-in-out;

    @media only screen and (max-width: $bp-xxl){
        width: 40px;
        height: 40px; 
    }

    &:hover {
      background-color: #fff;        
    }

    &::after{
      content: '';
    }
  }

  &__button-prev,
  &__button-next {
    .icon-svg {
      width: 50%;
      height: 50%;
      transition: fill .2s ease-in-out;
    }
  }

  &__pagination {

    & .swiper-pagination-bullet-active {
      background: $main-accent-color;
    }
  }
}