<div class="small-form small-form--absolute">
  <h4 class="small-form__title text-center">Want to know more? Ask us a question:</h4>
  <form class="small-form__form validate-form">
    <div class="small-form__row">
      <label class="small-form__input input">
        <input class="input__native" name="name" type="text" placeholder="Your name" required> 
        <span class="input__lable">Name</span>
      </label>
      <label class="small-form__input input">
        <input class="input__native" name="phone" type="tel" placeholder="Your phone" required> 
        <span class="input__lable">Phone</span>
      </label>
      <label class="small-form__input small-form__input--message input">
        <input class="input__native" name="message" type="text" placeholder="Your message"> 
        <span class="input__lable">Message</span>
      </label>
      <input class="small-form__button button" type="submit" value="Send">
    </div>
  </form>
</div>