<section class="img-content">
  <div class="container">
    <div class="img-content__inner">
      <div class="img-content__content">
        <h2 class="img-content__title">What our clients are saying</h2>
        @@include('../../components/reviews-slider/index.html',{
          "class":"img-content__slider"
        })
      </div>
      <picture class="img-content__img">
        <source type="image/webp" srcset="assets/img/decor/reviews.webp">
        <img src="assets/img/decor/reviews.jpg" alt="reviews">
      </picture> 
    </div>
  </div>
</section>