<section class="request-form" style="background-image: url(assets/img/background/request-form.jpg);">
    <div class="container">
        <form class="request-form__form" action="">
            <h4 class="request-form__title">A quick way to discuss details</h4>
            <label class="request-form__input input">
                <input class="input__native is-required" name="name" type="text" placeholder="Your name"> 
                <span class="input__lable">Name*</span>
            </label>
            <label class="request-form__input input">
                <input class="input__native is-required" name="phone" type="tel" placeholder="Your phone number"> 
                <span class="input__lable">Phone*</span>
            </label>
            <label class="request-form__input input">
                <input class="input__native" name="email" type="text" placeholder="Your working email"> 
                <span class="input__lable">Email</span>
            </label>
            <label class="request-form__input request-form__input--message input">
                <textarea class="input__native is-required" name="message" type="text" placeholder="Your message"></textarea>
                <span class="input__lable">Message*</span>
            </label>
            <label class="request-form__agree checkbox">
                <input class="checkbox__input" type="checkbox" checked>
                <span class="checkbox__text">I agree to receive communications from Createx Construction Bureau.</span>
            </label>
            <div class="request-form__bottom">
                <input class="request-form__button button" type="submit" value="send request">
            </div>            
        </form>
    </div>
</section>