@import 'src/styles/global/vars';

.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 0;
  margin: 0 -6vw;

  @media only screen and (max-width: $bp-lg){
     flex-direction: column; 
     margin: 0;
  }

  &__item {
    position: relative;
    text-align: center;
    width: calc(100% / 3);
    padding: 0 6vw;

    @media only screen and (max-width: $bp-lg){
       width: 100%;
       padding: 0 0 0 70px; 
       text-align: left;
    }

    @media only screen and (max-width: $bp-sm){
       padding-left: 60px; 
    }
  }

  &__item + &__item::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 188px;
    // opacity: 0.4;
    background: linear-gradient(0deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);

    @media only screen and (max-width: $bp-lg){
       display: none; 
    }
  }

  &__item:nth-child(3n + 4):before {
    display: none;
  }

  &__icon {
    color: $main-accent-color;
    margin-bottom: 24px;

    @media only screen and (max-width: $bp-lg){
       position: absolute;
       top: 5px;
       left: 0;
       margin-bottom: 0;
    }

    .icon-svg {
      display: block;
      margin: 0 auto;

      @media only screen and (max-width: $bp-sm){
         width: 36px;
         height: 36px; 
      }
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__desc {
  }
}
